input{
    border-radius: 15px;
    padding: 2px;
    }

select[name="marca"]{

border-radius: 20px;

padding: 1px;

border: 2px solid black;

}
body{

background: linear-gradient(to left, rgba(255,255,255,0),rgba(255,255,255,1)),url(../imag1.jpg) ;
margin-left: 200px;
margin-top: 50px;
margin-right:200px ;
color: #005;
background-repeat: no-repeat;
background-position: center;
}

.conteiner{
    text-align: right;
    justify-content: right;
    
}
.imagen{
    width: 350px;
    height: 150px;
    vertical-align: bottom;
    border-radius: 10px;
    filter: drop-shadow(0 0 10px green);
}